.container-balao{

    background-color: white;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
    margin-top: 30px;
    border-radius: 12px;

    .conteudo-balao{
        padding: 80px 25px;
        color: #383131;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

}