.exercicio11{



    .resposta-11{
        margin-top: 15px;
    }
    .tabuada{
        margin-left: 400px;
        margin-top: -10px;
        font-weight: 700;
        font-size: 18px;
        color: #383131;
    }

}